@use "../../styles/base";

footer.footer {
  background: base.$themeColor2;
  margin-top: base.$margin;

  width: 100vw;
  line-height: base.$headerHeight;
  text-align: center;

  span {
    color: base.$lightColor;
  }
}
