@use '../../styles/base';

footer.footer {
  background: base.$themeColor2;
  bottom: 0;
  position: fixed;
  width: 100vw;
  line-height: base.$headerHeight;
  text-align: center;
  
  span {
    color: base.$lightColor;
  }
}
