@use '../../styles/base';

footer.footer {
  background: base.$primaryColor;
  bottom: 0;
  position: fixed;
  width: 100vw;
  line-height: 68px;

  p {
    text-align: center;
    color: #FFFFFF;
    font-size: 16px;
  }
}
