@use "../../styles/base";

@font-face {
  font-family: "Monte Carlo";
  src: url(../../public/fonts/MonteCarlo/MonteCarlo-Regular.ttf);
}

header.header {
  background: #ffffff;

  .menu {
    border: 0;
    padding: 0;
    margin-top: base.$margin;
    margin-left: base.$margin;
    position: absolute;
    background: #ffffff;

    svg {
      @include base.icon;
      cursor: pointer;
    }
  }

  h1 {
    text-align: center;
    color: base.$color1;
    font-family: "Monte Carlo";
    font-weight: normal;
    font-size: 40px;
  }
}
