@use "../../styles/base";

@font-face {
  font-family: "Monte Carlo";
  src: url(../../public/fonts/MonteCarlo/MonteCarlo-Regular.ttf);
}

header.header {
  background: base.$lightColor;
  line-height: base.$headerHeight;

  button.btnMenu {
    @include base.iconButton;
    margin-top: base.$headerHeight/2 - 30/2;
    margin-left: base.$margin;
    position: absolute;
  }

  h1 {
    text-align: center;
    color: base.$themeColor1;
    font-family: "Monte Carlo";
    font-weight: normal;
    font-size: 48px;
  }
}
