@use "../../styles/base";

div.body {
  background: base.$neutralColor;
  min-height: 100vh; 
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow-x: hidden;
}

main.opaque {
  opacity: 0.1;
}

