@use "../styles/base";

header.header {
  width: 100vw;
  height: 136px;
  background: base.$color2;
  padding: base.$margin;
  margin-bottom: -46px;

  h2 {
    color: #FFFFFF;
    font-weight: normal;
  }
}
