@use "../styles/base";

button.btn {
  @include base.iconButton($color: base.$lightColor);
}

div.container {
  display: grid;
  grid-gap: base.$margin2;

  .card {
    display: grid;
    grid-gap: base.$margin2;
    grid-template-columns: 1fr;
  }

  .card.selected {
    @include base.boxShadow;
  }

  .form {
    grid-template-columns: 1fr;
  }
}

header {
  button.closeForm {
    svg {
      transform: rotate(45deg);
    }
  }
}

.hidden {
  display: none !important;
}
