@use "../styles/base";

button.btn {
  @include base.iconButton($color: #FFFFFF);
}

div.container {
  display: grid;
  grid-gap: base.$margin2;

  .card {
    display: grid;
    grid-gap: base.$margin2;
    grid-template-columns: 1fr;
  }
}
